@import "tailwindcss";

:root {
    --background: oklch(0.99 0 0 / 1);;
    --foreground: oklch(0.2284 0.0384 282.9324);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.2284 0.0384 282.9324);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.2284 0.0384 282.9324);
    --primary: oklch(0.54 0.12 196.67);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9594 0.0241 196.7580);
    --secondary-foreground: oklch(0.3805 0.0649 194.7689);
    --muted: oklch(0.9664 0.0053 197.0685);
    --muted-foreground: oklch(0.5510 0.0234 264.3637);
    --accent: oklch(0.9594 0.0241 196.7580);
    --accent-foreground: oklch(0.3805 0.0649 194.7689);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9264 0.0064 197.0451);
    --input: oklch(0.9264 0.0064 197.0451);
    --ring: oklch(0.5431 0.0927 194.7689);
    --chart-1: oklch(0.7441 0.1480 166.3634);
    --chart-2: oklch(0.6552 0.1105 212.1665);
    --chart-3: oklch(0.6048 0.2166 257.2136);
    --chart-4: oklch(0.5015 0.1883 294.9882);
    --chart-5: oklch(0.6364 0.2145 357.3595);
    --sidebar: oklch(1.0000 0 0);
    --sidebar-foreground: oklch(0.2284 0.0384 282.9324);
    --sidebar-primary: oklch(0.5431 0.0927 194.7689);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9594 0.0241 196.7580);
    --sidebar-accent-foreground: oklch(0.3805 0.0649 194.7689);
    --sidebar-border: oklch(0.9264 0.0064 197.0451);
    --sidebar-ring: oklch(0.5431 0.0927 194.7689);
    --font-sans: Figtree, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Spectral, ui-serif, serif;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --radius: 0.75rem;
    --shadow-x: 0;
    --shadow-y: 0.5rem;
    --shadow-blur: 1.5rem;
    --shadow-spread: 0;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0 0.5rem 1.5rem 0 hsl(0 0% 0% / 0.03);
    --shadow-xs: 0 0.5rem 1.5rem 0 hsl(0 0% 0% / 0.03);
    --shadow-sm: 0 0.5rem 1.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0 0.5rem 1.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0 0.5rem 1.5rem 0 hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0 0.5rem 1.5rem 0 hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0 0.5rem 1.5rem 0 hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0 0.5rem 1.5rem 0 hsl(0 0% 0% / 0.13);
    --tracking-normal: 0.02em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.0927 0.0508 295.5468);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.1418 0.0493 290.2274);
    --card-foreground: oklch(0.9323 0.0423 196.4492);
    --popover: oklch(0.1418 0.0493 290.2274);
    --popover-foreground: oklch(0.9323 0.0423 196.4492);
    --primary: oklch(0.8374 0.142949 194.769);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.2205 0.0376 194.7689);
    --secondary-foreground: oklch(0.9323 0.0423 196.4492);
    --muted: oklch(0.1567 0.0267 194.7689);
    --muted-foreground: oklch(0.5925 0.0309 248.3483);
    --accent: oklch(0.2799 0.0478 194.7689);
    --accent-foreground: oklch(0.9323 0.0423 196.4492);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.2507 0.0428 194.7689);
    --input: oklch(0.2507 0.0428 194.7689);
    --ring: oklch(0.8374 0.142949 194.769);
    --chart-1: oklch(0.7441 0.1480 166.3634);
    --chart-2: oklch(0.6552 0.1105 212.1665);
    --chart-3: oklch(0.6048 0.2166 257.2136);
    --chart-4: oklch(0.5015 0.1883 294.9882);
    --chart-5: oklch(0.6364 0.2145 357.3595);
    --sidebar: oklch(0.1556 0.0626 291.8449);
    --sidebar-foreground: oklch(0.9323 0.0423 196.4492);
    --sidebar-primary: oklch(0.8374 0.142949 194.769);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(0.2205 0.0376 194.7689);
    --sidebar-accent-foreground: oklch(0.9323 0.0423 196.4492);
    --sidebar-border: oklch(0.2507 0.0428 194.7689);
    --sidebar-ring: oklch(0.8374 0.1429 194.7689);
    --font-sans: Figtree, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Spectral, ui-serif, serif;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --radius: 0.75rem;
    --shadow-x: 0;
    --shadow-y: 1.5rem;
    --shadow-blur: 4rem;
    --shadow-spread: -1rem;
    --shadow-opacity: 0.35;
    --shadow-color: #00e6e6;
    --shadow-2xs: 0 1.5rem 4rem -1rem hsl(180 100% 45.0980% / 0.17);
    --shadow-xs: 0 1.5rem 4rem -1rem hsl(180 100% 45.0980% / 0.17);
    --shadow-sm: 0 1.5rem 4rem -1rem hsl(180 100% 45.0980% / 0.35), 0 1px 2px -2px hsl(180 100% 45.0980% / 0.35);
    --shadow: 0 1.5rem 4rem -1rem hsl(180 100% 45.0980% / 0.35), 0 1px 2px -2px hsl(180 100% 45.0980% / 0.35);
    --shadow-md: 0 1.5rem 4rem -1rem hsl(180 100% 45.0980% / 0.35), 0 2px 4px -2px hsl(180 100% 45.0980% / 0.35);
    --shadow-lg: 0 1.5rem 4rem -1rem hsl(180 100% 45.0980% / 0.35), 0 4px 6px -2px hsl(180 100% 45.0980% / 0.35);
    --shadow-xl: 0 1.5rem 4rem -1rem hsl(180 100% 45.0980% / 0.35), 0 8px 10px -2px hsl(180 100% 45.0980% / 0.35);
    --shadow-2xl: 0 1.5rem 4rem -1rem hsl(180 100% 45.0980% / 0.88);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
    letter-spacing: var(--tracking-normal);
}

a, a:hover {
    color: inherit;
    text-decoration: none;
    transition: none;
}

h1 {
    font-size: var(--text-6xl);
}

/* GitHub */
.header-github-link:hover {
    opacity: 0.6;
}

.header-github-link::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .header-github-link::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}